body {
    width: 80%;
    margin: 0 auto;
    background-image: url('bg.jpg');
}

.col-1-4, .col-3-4 {
    display: inline-block;
    margin: 0;
}

.col-1-4 {
    width: 23%;
}

.col-3-4 {
    width: 68%;
}

.menu-panel {
    height: 150px;
    background-color: #aaf;
    padding: 0 15px;
    border: 1px solid black;
    border-radius: 25px;
    margin: 0 5px;
}

h1 {
    color: red;
}

img {
    border: 1px solid black;
    margin: 10px;
}